.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 3 columns */
  grid-gap: 10px; /* spacing between grid items */
  justify-items: center;
  text-align: center;
  color: black;
}

.container div {
  margin-top: 5px;
  border-radius: 5px;
}

.container img {
  height: 200px;
  object-fit: contain;
  margin-bottom: 5px;
}

.container div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 4px;
}

.pagination li a:hover {
  background-color: #ccc;
}

.pagination li.active a {
  background-color: #333;
  color: #fff;
}

.pagination li.disabled a {
  background-color: #f1f1f1;
  color: #ccc;
  cursor: not-allowed;
}